<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A brief description of your site">
    <meta name="keywords" content="HTML, CSS, JavaScript, Web Development, Bootstrap, Flask">
    <meta name="author" content="Your Name">
    <title>{{ title }}</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet" >
</head>
<body>
    <header class="bg-primary text-white text-center py-3">
        <h1>{{ header }}</h1>
        <nav>
            <a class="btn btn-secondary" href="{{ url_for('home') }}" role="button">Home</a>
            <a class="btn btn-secondary" href="{{ url_for('standard_deviation') }}" role="button">Standard Deviation</a>
            <a class="btn btn-secondary" href="{{ url_for('moving_average') }}" role="button">20-Day Moving Average</a>
            <a class="btn btn-secondary" href="{{ url_for('correlation') }}" role="button">Correlation</a>
            <a class="btn btn-secondary" href="{{ url_for('linear_regression') }}" role="button">Linear Regression Model</a>
        </nav>
    </header>

    <main class="bg-primary text-white py-3">
        <h2 class="sectitle" >{{ section_title }}</h2>
        <p class="content" > {{ content }}</p>

        {% if image %}
                <img id="single" src="{{ url_for('static', filename=image) }}" alt="Plot"/>
        {% endif %}

        {% if images %}
            {% for img in images %}
                <img id="map" src="{{ url_for('static', filename=img) }}" alt="Plot"/>
            {% endfor %}
        {% endif %}

        {% if table %}
            {{ table | safe }}
        {% endif %}

        {% if sources %}
            {% for src in sources %}
                <a href="{{ src }}" class="source">News Source</a>
            {% endfor %}
        {% endif %}

        {% if score %}
            <h3 class="rsquared"> R^2 value: {{ score }}</h3>
        {% endif %}
    </main>

    <footer class="bg-primary text-center py-3">
        <p>&copy; 2024 Christian Asimou. All rights reserved.</p>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

